@layer base, starlight, theme, components, utilities;


@import "@astrojs/starlight-tailwind";
@import "@fontsource-variable/ibm-plex-sans";
/* @import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities); */

@import "tailwindcss";

/* dark theme */
@custom-variant dark (&:where(.dark, .dark *));


/* Dark mode colors. */
:root {
  --sl-font: 'IBM Plex Sans Variable', sans-serif;
  --sl-color-accent-low: #072d00;
  --sl-color-accent: #247f00;
  --sl-color-accent-high: #aad7a0;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eaf0e8;
  --sl-color-gray-2: #bdc4bb;
  --sl-color-gray-3: #82907f;
  --sl-color-gray-4: #4f5c4d;
  --sl-color-gray-5: #303c2d;
  --sl-color-gray-6: #1f2a1c;
  --sl-color-black: #151a13;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c0e2b8;
  --sl-color-accent: #237b00;
  --sl-color-accent-high: #0d3e00;
  --sl-color-white: #151a13;
  --sl-color-gray-1: #1f2a1c;
  --sl-color-gray-2: #303c2d;
  --sl-color-gray-3: #4f5c4d;
  --sl-color-gray-4: #82907f;
  --sl-color-gray-5: #bdc4bb;
  --sl-color-gray-6: #eaf0e8;
  --sl-color-gray-7: #f4f7f3;
  --sl-color-black: #ffffff;
}

@layer base{
  .sl-markdown-content :is(ul, ol) {
    list-style: inside;
  }

  .example-container {
    @apply p-4 bg-gray-50 dark:bg-gray-800;
  }
}

@layer utilities{
  html:not([data-has-sidebar]){
    --sl-content-width: 100%;
  }
}